.services__grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: $grid-column-gap;
    row-gap: $grid-column-gap;

    @include mq($breakpoint-md){
        grid-template-columns: 1fr 1fr;
    }

    @include mq($breakpoint-lg){
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.service__box {
    padding: pxToRem(20px);
    height: 100%;
    border-radius: $border-radius;
    box-shadow: $transform-direction * -7px 14px 32px rgba(0, 0, 0, 0.15),
        $transform-direction * -10px 10px 20px rgba(0, 0, 0, 0.12);
}

.service__icon {
    .material-icons, .material-symbols-outlined {
        font-size: pxToRem(40px);
        
        @include mq($breakpoint-md){
            font-size: pxToRem(45px);
        }
    }
    /*material-symbols-outlined{
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }*/
}

.service__p {
    margin-bottom: 0; 
}